@model List<Book>
<partial name="_Notification" />
<p>Here is my list of Books</p>
<a asp-controller="Book" asp-action="Create" class="btn btn-primary">Create new Book</a>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>
				Title
			</td>
			<td>
				Description
			</td>
			<td>
				Author
			</td>
			<td>
				Price
			</td>
			<td>
				Category
			</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td>@book.Title</td>
				<td>@book.Description</td>
				<td>@book.Author</td>
				<td>@book.Price</td>
				<td></td>
				<td>
					<a asp-controller="Category" asp-action="Edit" asp-route-bookId="@book.Id" class="btn btn-primary">Edit</a>
					<a asp-controller="Category" asp-action="Delete" asp-route-bookId="@book.Id" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>