@model List<Category>
<p>Here is my list of Category</p>
<a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create new Category</a>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>
				Name
			</td>
			<td>
				Description
			</td>
			<td>
				Display Priority
			</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var category in Model)
		{
			<tr>
				<td>@category.Name</td>
				<td>@category.Description</td>
				<td>@category.DisplayPriority</td>
				<td>
					<a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary">Edit</a>
					<a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>